@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #fff;
}

.background-img {
  background-image: url(./images/header-illsutration-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.menu a {
  color: #3a4a42;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}

.social-contact a {
  color: #42526e;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

button a:hover {
  color: #172b4d;
}

/* Navigator */

.mobile-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 24px;
  margin-top: 44px;
  height: 48px;
}

/* responsive nav */

.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

.hamburger {
  position: fixed;
  top: 3rem;
  right: 1.5rem;
  padding: 8px 8px 8px 8px;
  background: white;
  cursor: pointer;
}

.hamburger .closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  color: black;
  list-style: none;
  padding-top: 6rem;
  margin-left: -48px;
}

.showMenu {
  transform: translateY(0);
}

/* responsive nav end */

.desktop-nav {
  display: none;
}

.menu a:hover {
  background-color: #36b37e;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
}

.mobile-nav .logo {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.mobile-nav .logo a {
  text-decoration: none;
  color: #28352f;
}

/* Hero-container */

.hero-container {
  max-width: 1200px;
  margin: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-container h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin-bottom: 36px;
  margin-top: 64px;
  animation: 3s slidetop;
}

.hero-container span {
  color: #14975acf;
}

.hero-container p {
  text-align: center;
  color: #172b4d;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 40px;
}

/* social-container */

.social-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

/* Action button */

.action-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

/* work section start */

.action-btn img {
  transition: all 0.5s linear;
}

.img-holder-1 img {
  width: 90%;
  height: 365px;
  border-radius: 10px;
}

.img-holder img {
  width: 90%;
  border-radius: 10px;
}

.action-btn img:hover {
  transform: scale(1.2);
  border: #36b37e solid 4px;
  border-radius: 50%;
}

.grid-item1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 22px 26px 62px 26px;
  text-align: center;
}

.grid-item2 {
  text-align: center;
}

.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s linear;
  border: 2px solid #d1d1d1;
  border-radius: 10px;
}

.work:hover {
  width: 101%;
  height: 101%;
  border: solid #36b37e 4px;
  border-radius: 12px;
  z-index: 1;
}

.grid-item3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 16px 16px 0 16px;
  text-align: center;
}

.headline {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.indicator {
  width: 48px;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;
  margin-top: 28px;
}

.project-title {
  color: #3a4a42;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  padding: 0 24px;
}

.lang,
.lang2,
.skills-list {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
}

.frame-list {
  list-style-type: none;
  display: flex;
  gap: 8px;
  margin-left: -34px;
}

.frame-list,
.skills-list {
  flex-wrap: wrap;
  justify-content: center;
}

.lang li,
.lang2 li,
.frame-list li,
.skills-list li {
  border: 1px solid #d0d9d4;
  background-color: #ebf0ee;
  border-radius: 5px;
  padding: 8px 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

.lang2 li,
.frame-list li,
.skills-list li {
  background-color: #fff;
  color: #172b4d;
}

.background-about {
  background-image:
    url(./images/about-mobile-top.png),
    url(./images/about-mobile-bottom.png);
  background-repeat: no-repeat, no-repeat;
  background-position: right top, left 90%;
}

.about {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
  margin-bottom: -42px;
}

.about-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project,
.resume,
.touch,
button {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  background: #36b37e;
  border-radius: 4px;
  padding: 12px;
  border: none;
  margin-bottom: 42px;
  color: #172b4d;
  transition: all 0.5s linear;
}

button:hover {
  background-color: #c5e9da;
  border: 1px solid #36b37e;
}

.lang-background {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Language,
.frame-title,
.Skills-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
  margin-bottom: 20px;
}

.lang-section,
.frameworks,
.skills {
  display: flex;
  background-color: #ebf0ee;
  justify-content: center;
  padding: 20px 0 80px 0;
  margin: 0 12px 24px 12px;
  border-radius: 10px;
}

.frameworks,
.skills {
  flex-direction: column;
  align-items: center;
  background-color: #ebf0ee;
}

.lang-section:hover,
.frameworks:hover,
.skills:hover {
  width: 110%;
  height: 110%;
  border: solid 10px #36b37e;
  border-radius: 10px;
  z-index: 1;
}

.lang-icon,
.frame-icon,
.skills-icon {
  border: solid #fff 20px;
  border-radius: 50px;
  margin-bottom: 50px;
}

.skills-icon {
  padding: 10px 10px 0 10px;
}

.lang-icon:hover,
.frame-icon:hover,
.skills-icon:hover {
  border: solid 20px #36b37e;
}

.text-1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 12px 12px;
}

/* form styling start here */

form {
  background-image: url(./images/illustration-contact-form.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 64px 24px;
  gap: 58px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 100%;
}

form h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  text-align: center;
}

form input {
  margin: 0 0;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 0 12px;
}

form textarea {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  width: 100%;
  height: 114px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 8px 12px;
}

/* form styling end */

.social-contact ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.social-contact li:hover {
  transform: scale(1.5);
}

.email {
  text-align: center;
  margin-bottom: 190px;
}

.social-container li:hover {
  transform: scale(1.5);
}

/* media queries */

@media (min-width: 768px) {
  .background-img {
    background-image: url(./images/Header-llustration-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 48px;
  }

  .mobile-nav {
    display: none;
  }

  header {
    position: absolute;
    left: 40%;
    top: 16px;
    gap: 8px;
    width: 255px;
    height: 40px;
  }

  .desktop-nav {
    display: block;
    margin-left: -98px;
  }

  .desktop-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  .desktop-nav li a {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    transition: all 0.5s linear;
  }

  .desktop-nav li a:hover {
    background-color: #36b37e;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
  }

  .headline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 0;
    gap: 24px;
  }

  .hero-container h1 {
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 0;
    margin-top: 70px;
  }

  .hero-container p,
  .about p {
    line-height: 32px;
    margin: 0 260px;
  }

  .social-container ul {
    margin-bottom: 74px;
  }

  /* Action button */

  .action-btn {
    display: flex;
    justify-content: center;
  }

  /* work section */

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 32px;
    column-gap: 24px;
    margin: 0 60px;
  }

  .work {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .img-holder-1 img {
    width: 100%;
    height: 365px;
  }

  .img-holder img {
    width: 100%;
    height: 100%;
  }

  .grid-item3 {
    border: 1px solid #d0d9d4;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    margin-top: -20px;
    margin-left: 0;
    margin-right: 0;
    border-top: none;
  }

  .project-title {
    margin-top: 24px;
  }

  /* work section end */

  /* About section */

  .background-about {
    background-image:
      url(./images/About-upper-pic.png),
      url(./images/about-lower-picture.png);
    background-repeat: no-repeat, no-repeat;
    background-position: right top, left bottom;
  }

  .about-box {
    margin: 92px 0;
  }

  .about-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 60px;
    justify-content: center;
  }

  /* About section end */

  /* form start */

  form {
    margin-top: 48px;
    background-image:
      url(./images/desktop-form-1.png),
      url(./images/desktop-form-2.png),
      url(./images/desktop-form-3.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: right bottom, 20% 80%, left bottom;
    display: grid;
    grid-template-columns: 1.2fr 1.7fr;
    column-gap: 8px;
    height: 600px;
  }

  form h2 {
    margin-left: 68px;
    margin-top: 30px;
    font-size: 30px;
  }

  .form {
    align-items: flex-start;
    width: 90%;
  }

  .dtouch {
    margin-bottom: 0;
  }

  /* form end */

  /* footer */

  .social-contact {
    border-top: solid 1px #dfe1e6;
    padding-top: 18px;
  }

  .social-contact .email {
    display: none;
  }
}
