@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #fff;
}

.background-img {
  background-image: url(./images/header-illsutration-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Navigator */

.mobile-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 24px;
  margin-top: 44px;
  height: 48px;
}

.desktop-nav {
  display: none;
}

.mobile-nav .logo {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.mobile-nav .logo a {
  text-decoration: none;
  color: #28352f;
}

/* Hero-container */

.hero-container {
  max-width: 1200px;
  margin: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-container h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin-bottom: 36px;
  margin-top: 64px;
}

.hero-container span {
  color: #14975acf;
}

.hero-container p {
  text-align: center;
  color: #172b4d;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 40px;
}

/* social-container */

.social-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

/* Action button */

.action-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

/* work section start */

.grid-item1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 22px 26px 62px 26px;
  text-align: center;
}

.grid-item2 {
  text-align: center;
}

.grid-item3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 16px 16px 0 16px;
  text-align: center;
}

.headline {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.indicator {
  width: 48px;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;
  margin-top: 28px;
}

.project-title {
  color: #3a4a42;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  padding: 0 24px;
}

.lang,
.lang2,
.skills-list {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  list-style-type: none;
}

.frame-list {
  list-style-type: none;
  display: flex;
  gap: 8px;
  margin-left: -34px;
}

.frame-list,
.skills-list {
  flex-wrap: wrap;
  justify-content: center;
}

.lang li,
.lang2 li,
.frame-list li,
.skills-list li {
  border: 1px solid #d0d9d4;
  background-color: #ebf0ee;
  border-radius: 5px;
  padding: 8px 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

.lang2 li,
.frame-list li,
.skills-list li {
  background-color: #fff;
  color: #36b37e;
}

.background-about {
  background-image: url(./images/about-mobile-top.png),
    url(./images/about-mobile-bottom.png);
  background-repeat: no-repeat, no-repeat;
  background-position: right -10%, left 90%;
}

.about {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
  margin-bottom: -42px;
}

.about-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project,
.resume,
.touch,
button {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  background: #36b37e;
  border-radius: 4px;
  padding: 12px;
  border: none;
  margin-bottom: 42px;
  color: #fff;
}

button:hover {
  background-color: #c5e9da;
  border: 1px solid #36b37e;
}

.lang-background {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Language,
.frame-title,
.Skills-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
  margin-bottom: 20px;
}

.lang-section,
.frameworks,
.skills {
  display: flex;
  background-color: #ebf0ee;
  justify-content: center;
  padding: 20px 0 80px 0;
  margin: 0 12px 24px 12px;
  border-radius: 10px;
}

.lang-icon,
.frame-icon,
.skills-icon {
  border: solid #fff 20px;
  border-radius: 50px;
  margin-bottom: 50px;
}

.frameworks,
.skills {
  flex-direction: column;
  align-items: center;
  background-color: #ebf0ee;
}

.skills-icon {
  padding: 10px 10px 0 10px;
}

.text-1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 12px 12px;
}

/* form styling start here */

form {
  background-image: url(./images/illustration-contact-form.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 64px 24px;
  gap: 58px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 100%;
}

form h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  text-align: center;
}

form input {
  margin: 0 0;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 0 12px;
}

.desktop-name {
  display: none;
}

form textarea {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  width: 100%;
  height: 114px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 8px 12px;
}

/* form styling end */

.social-contact ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.social-contact li:hover {
  transform: scale(1.5);
}

.email {
  text-align: center;
  margin-bottom: 190px;
}

.social-contact a {
  color: #42526e;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.social-container li:hover {
  transform: scale(1.5);
}

/* media queries */

@media (min-width: 768px) {
  .background-img {
    background-image: url(./images/Header-llustration-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 48px;
  }

  .mobile-nav {
    display: none;
  }

  header {
    position: absolute;
    left: 40%;
    top: 16px;
    gap: 8px;
    width: 255px;
    height: 40px;
  }

  .desktop-nav {
    display: block;
    margin-left: -98px;
  }

  .desktop-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  .desktop-nav li a {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .headline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 0px;
    gap: 24px;
  }

  .hero-container h1 {
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 0;
    margin-top: 70px;
  }

  .hero-container p,
  .about p {
    line-height: 32px;
    margin: 0 260px;
    width: 720px;
    height: 96px;
  }

  .social-container ul {
    margin-bottom: 74px;
  }

  /* Action button */

  .action-btn {
    display: flex;
    justify-content: center;
  }

}
