@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Inter", sans-serif;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --primaryWhite: #fff;
  --primaryBlack: #000;
  --navMenuItem: #3a4a42;
  --navMenuItemDesktop: #344563;
  --lightGreen: #36b37e;
}

a {
  text-decoration: none;
  color: var(--primaryBlack);
}
