/* mobile Popup-window styling */

.popup {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.modal {
  background-color: var(--primaryWhite);
  padding: 12px;
  border-radius: 8px;
}

.single-image img {
  width: 100%;
  border-radius: 8px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 12px;
  margin-top: 16px;
  width: 100%;
}

.image img {
  width: 50%;
  border-radius: 8px;
}

.close img {
  float: right;
  margin-bottom: 10px;
  padding: 4px;
  width: 25px;
  background-color: var(--green);
  border-radius: 50%;
}

.dclose {
  display: none;
}

.popup-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: var(--blueTitle);
  padding: 1.5rem 0.4rem;
}

.popup-items {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 8px;
  list-style: none;
  flex-wrap: wrap;
}

.popup-items li {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  padding: 8px 12px;
  background-color: #ebf1ee;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  box-shadow: 0 2px 4px -1px #0000004d;
}

.popup-details {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--navMenuItemDesktop);
  padding: 1.5rem 0.4rem;
  text-align: justify;
  text-justify: inter-word;
  word-break: break-word;
  hyphens: auto;
}

.popup-action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 12px;
  margin-top: 16px;
  margin-bottom: 12px;
}

/* Popup-window styling end */

@media (min-width: 768px) {
  /* desktop Popup-window styling */
  .close {
    display: none;
  }

  .dclose {
    display: block;
  }

  .dclose img {
    float: right;
    padding: 5px;
    margin: 10px;
  }

  .dclose img:hover {
    background-color: var(--green);
    border-radius: 30%;
  }

  .popup {
    padding: 1.1rem 18rem;
    height: fit-content;
  }

  .popup-title {
    font-weight: 700;
    max-width: 589px;
  }

  .popup-details {
    line-height: 30px;
    color: var(--navMenuItemDesktop);
  }

  .modal-details {
    display: grid;
    grid-template-rows: 1fr;
    margin-bottom: 30px;
  }

  .popup-action-btn {
    position: absolute;
    right: 19rem;
  }

  /* Popup-window styling end */
}

@media (min-width: 769px) and (max-width: 1200px) {
  .popup {
    padding: 1.1rem 5rem;
  }
  .popup-action-btn {
    right: 6rem;
  }
}
