.background-img {
  background-image: url(images/header-illsutration-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.social-contact a {
  color: #42526e;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

/* Hero-container */

.hero-container {
  max-width: 1200px;
  margin: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--blueTitle);
  text-align: center;
}

.hero-container h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 36px;
  margin-top: 64px;
}

.hero-container span {
  color: #14975acf;
}

.hero-container p {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 40px;
  font-style: oblique;
  background-color: var(--primaryWhite);
  text-align: justify;
  text-justify: inter-word;
}

/* social-container */

.social-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

/* Action button */

.action-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.action-btn img {
  transition: all 0.5s linear;
}

/* work section start */

.profile-content,
.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 26px 62px 26px;
  text-align: center;
}

.title {
  margin-top: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: var(--blueTitle);
}

.indicator {
  width: 48px;
  height: 4px;
  background: var(--green);
  border-radius: 24px;
  margin-top: 28px;
}

.img-holder {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebf0ee;
}

.img-holder img {
  width: 100%;
  height: 200px;
}

.action-btn img:hover {
  transform: scale(1.2);
  border: var(--green) solid 2px;
  border-radius: 50%;
}

.img-1,
.img-2 {
  max-width: 50%;
  padding: 1rem;
  min-height: 100%;
}

.img-2 {
  padding: 1rem 1rem 1rem 0;
}

.grid-item2 {
  text-align: center;
}

.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  transition: transform 1s;
  box-shadow: 0 2px 4px -1px #0000004d;
  margin-bottom: 1rem;
}

.grid-item3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  margin: 16px 16px 0 16px;
  text-align: center;
}

.project-title {
  color: #3a4a42;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  padding: 0 24px;
}

.lang,
.lang2,
.skills-list {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 12px;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
}

.frame-list {
  display: flex;
  list-style-type: none;
  gap: 8px;
  margin-left: -34px;
}

.frame-list,
.skills-list {
  flex-wrap: wrap;
  justify-content: center;
}

.lang li,
.lang2 li,
.frame-list li,
.skills-list li {
  border: 1px solid #d0d9d4;
  background-color: #ebf0ee;
  border-radius: 8px;
  padding: 8px 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  box-shadow: 0 2px 4px -1px #0000004d;
}

.lang2 li,
.frame-list li,
.skills-list li {
  background-color: var(--primaryWhite);
  color: var(--blueTitle);
}

.about-background-image {
  background-image: url(images/about-mobile-top.png),
    url(images/about-mobile-bottom.png);
  background-repeat: no-repeat, no-repeat;
  background-position: right top, left 90%;
}

.about {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
  margin-top: 1rem;
  margin-bottom: -42px;
}

.about-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about p {
  padding: 4rem 2rem 7rem 2rem;
  text-align: justify;
}

.about-button {
  margin-top: -4rem;
  margin-bottom: 2rem;
}

.project,
.resume,
.touch,
button {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  background-color: #247f59;
  border-radius: 4px;
  padding: 12px;
  border: none;
  margin-bottom: 42px;
  color: #fff;
  transition: all 0.5s linear;
}

button:hover,
.resume:hover {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #247f59;
  color: #247f59;
}

.Language,
.frame-title,
.Skills-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
  margin-bottom: 20px;
}

.lang-section,
.frameworks,
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebf1ee;
  border: 1px solid #d0d9d4;
  justify-content: center;
  padding: 20px 0 80px 0;
  margin: 0 12px 24px 12px;
  border-radius: 10px;
  transition: transform 1s;
  box-shadow: 0 2px 4px -1px #0000004d;
}

.work:hover,
.lang-section:hover,
.frameworks:hover,
.skills:hover {
  transform: scale(1.05);
  border-radius: 12px;
  z-index: 1;
}

.lang-icon,
.frame-icon,
.skills-icon {
  border: solid #fff 20px;
  border-radius: 50px;
  margin-bottom: 50px;
}

.skills-icon {
  padding: 10px 10px 0 10px;
}

.lang-icon:hover,
.frame-icon:hover,
.skills-icon:hover {
  border: solid 20px var(--green);
}

.text-1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: var(--blueTitle);
  margin: 12px 12px;
}

/* form styling start here */

form {
  background-image: url(images/illustration-contact-form.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 64px 24px;
  gap: 58px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 100%;
}

form h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: var(--blueTitle);
  text-align: center;
}

form input {
  margin: 0 0;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 0 12px;
}

form textarea {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  width: 100%;
  height: 114px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 8px 12px;
}

/* form styling end */

.social-contact ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.social-contact li:hover {
  transform: scale(1.5);
}

.email {
  text-align: center;
  margin-bottom: 190px;
}

.social-container li:hover {
  transform: scale(1.5);
}

/* media queries */

@media (min-width: 768px) {
  .background-img {
    background-image: url(images/Header-llustration-desktop.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 3em;
  }

  .headline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10em 0;
    gap: 24px;
    min-width: 100%;
  }

  .hero-container {
    max-width: 60%;
  }

  .hero-container h1 {
    font-weight: 800;
    font-size: calc(1rem + 2.5vw);
    line-height: 3.75rem;
    margin: 0;
  }

  .hero-container p,
  .about p {
    margin-top: 0.6em;
    font-size: calc(0.9rem + 0.5vw);
    line-height: 2rem;
  }

  .social-container ul {
    margin-bottom: 74px;
  }

  /* Action button */

  .action-btn {
    display: flex;
    justify-content: center;
  }

  /* work section */

  .project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 32px;
    column-gap: 24px;
    margin: 0 60px;
  }

  .work {
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* margin: 0; */
  }

  .title {
    margin-top: 80px;
  }

  .grid-item3 {
    border: 1px solid #d0d9d4;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    margin-top: -10px;
    margin-left: 0;
    margin-right: 0;
    border-top: none;
  }

  .project-title {
    margin-top: 24px;
  }

  /* work section end */

  /* About section */

  .about-background-image {
    background-image: url(images/About-upper-pic.png),
      url(images/about-lower-picture.png);
    background-repeat: no-repeat, no-repeat;
    background-position: right top, left bottom;
  }

  .about-box {
    margin: 92px 0;
  }

  .about-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 60px;
    justify-content: center;
  }

  /* About section end */

  /* form start */

  form {
    background-image: url(images/desktop-form-1.png),
      url(images/desktop-form-2.png), url(images/desktop-form-3.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: right bottom, 20% 80%, left bottom;
    display: grid;
    grid-template-columns: 1.2fr 1.7fr;
    column-gap: 8px;
    height: 600px;
  }

  form h2 {
    margin-left: 68px;
    margin-top: 30px;
    font-size: 30px;
  }

  .form {
    align-items: flex-start;
    width: 90%;
    margin-top: 40px;
  }

  /* form end */

  /* footer */

  .social-contact {
    border-top: solid 1px #dfe1e6;
    padding-top: 18px;
  }

  .social-contact .email {
    display: none;
  }
}
